<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario contacto</title>
    <link rel="stylesheet" href="../STATIC/css/style.css">
</head>
<body>
    <marquee behavior="continue" direction="righ" 
        STYLE="font-size: 35px; background-color: darkcyan; color:bisque">ESCUELAS DE PROGRACION Y  DISEÑO GRAFICO</marquee>

    <div id="contenedor">
        <div id="cabecera">
            <h1>contactenos</h1>
            <p>estamos para ayudar</p>
        </div>
    </div>
<!-- SECCION DE NAVEGACION -->
        <div id="menu">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="">acerca de</a></li>
                <li><a href="./programas.html">programas</a></li>
                <li><a href="./contacto.html">contacto</a></li>
            </ul>
        </div>
        
        <div id="contenido">
            <div class="articulo">
                <h2>Formulario de contacto</h2>
                <form action="" method="post">
                    <label for="">Nombre:</label><br>
                    <input type="text" name="nombre" id="" required style="width: 100%; padding: 8px; margin-bottom: 10px;"><br>

                    <label for="">correo electronico</label><br>
                    <input type="text" name="nombre" id="" required style="width: 100%; padding: 8px; margin-bottom: 10px;"><br>

                    <label for="">comentarios /mensaje:</label><br>
                    <textarea name="" id="" rows="10" required style="width: 100%; padding: 8px;margin-bottom: 10px;">
                    </textarea><br>
                    <botton type="submit" style="margin-top: 10px;padding: 10px 20px;background-color: black; color: white; border: none; border-radius:5px;">ENVIAR</botton>

                </form>
            </div>
        </div>
        <!-- SECCION DE PAGINA -->
        <!-- div#pie>p -->
        <div id="pie">
            <p>&copy; todos los derechos reservados @std 2026</p>
        </div>

</body>
</html>