<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario de ingreso</title>
    <link rel="stylesheet" href="../STATIC/css/style.css">
</head>
<body>
    <marquee behavior="continue" direction="righ" 
        STYLE="font-size: 35px; background-color: darkcyan; color:bisque">ESCUELAS DE PROGRACION Y  DISEÑO GRAFICO      </marquee>
        <div id="contenedor">
            <div id="contenido">
                <div class="articulo">
                    <h2>formulario de inicio sesion</h2>
                    <form action="" method="post">
                    <label for="">Email</label><i class="fa-solid fa-user-pen"></i>

                    <input type="email" name="email" required style="width: 100%; padding: 8px;margin-bottom: 10px;"><br>

                    <label for="">contraseña</label><i class="fa-solid fa-user-pen"></i>

                    <input type="password" name="password" required style="width: 100%; padding: 8px;margin-bottom: 10px;"><br>
                    <p>no tienes cuenta? <a href="./fregister.html">registrese</a></p>

                    <button type="submit" style="margin-top: 10px; padding: 10px 20px; background-color: black; color: white; border. none; border-radius: 5px;  ">Enviar</button>

                    </form>
                </div>
            </div>
<!-- SECCION DE PAGINA -->
        <!-- div#pie>p -->
        <div id="pie">
            <p>&copy; todos los derechos reservados @std 2026</p>
        </div>


        </div>




</body>
</html>